COMMANDS TO INSTALL DEPENDENCIES
pip install opencv-python
pip install pytautogui
pip install scikit-image  # usado en skimage.metrics
pip3 install pyKey
pip install pynput  # grabador opcional de flechas
